.list-options-active {
    transform: translateY(0rem) !important;
    transition: .5s;
}
.slide-dot-active {
    background-color: #585858 !important;
}
.card {
    padding: 1.3rem 1.5rem;
    background-color: white;
    margin: .9rem .3rem;
}
.card-header{
    padding: .5rem 0;
}
.card-footer{}
.card-body{
   
}

body {
    font-size: 14px;
}
